<nav class="navbar navbar-primary bg-primary">
  <div class="container-fluid">
    <div class="dropdown">
      <img src="../assets/bar.jpeg" class="dropbtn" alt="" width="30" height="24" class="bar-align d-inline-block align-text-top">
      <!-- <button class="dropbtn">Dropdown</button> -->
      <div class="dropdown-content">
    <a class="dropdown-item" routerLink="/first_page"> First Page </a>  
    <a class="dropdown-item" routerLink="/second_page">Second Page </a>
      </div>
    </div>
    <a class="navbar-brand" href="#" class="img-align">
      <img src="../assets/logo.jpeg"  alt="" width="100%" height="50" class="  d-inline-block align-text-top">
    </a>
  </div>
</nav>
<br>
<router-outlet></router-outlet>